<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BusBeaconList.plist
   hakob

   Created by 佐藤秀輔 on 2017/11/14.
   Copyright (c) 2017年 佐藤秀輔. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
